
Library/metadata/

Temp/

\.vs/

obj/

Library/PackageCache/

Library/PlayerDataCache/

Library/ScriptAssemblies/

Library/ShaderCache/

Library/StateCache/

Library/AnnotationManager

Library/assetDatabase3

Library/AssetImportState

Library/CurrentLayout\.dwlt

Library/EditorInstance\.json

Library/EditorUserBuildSettings\.asset

Library/EditorUserSettings\.asset

Library/expandedItems

Library/InspectorExpandedItems\.asset

Library/LastBuild\.buildreport

Library/LastSceneManagerSetup\.txt

Library/LibraryFormatVersion\.txt

Library/MonoManager\.asset

Library/ProjectSettings\.asset

Library/ScriptMapper

Library/ShaderCache\.db

Library/shadercompiler-UnityShaderCompiler\.exe0\.log

Library/shadercompiler-UnityShaderCompiler\.exe1\.log

Library/shadercompiler-UnityShaderCompiler\.exe2\.log

Library/shadercompiler-UnityShaderCompiler\.exe3\.log

Library/shadercompiler-UnityShaderCompiler\.exe4\.log

Library/shadercompiler-UnityShaderCompiler\.exe5\.log

Library/shadercompiler-UnityShaderCompiler\.exe6\.log

Library/shadercompiler-UnityShaderCompiler\.exe7\.log

Library/SpriteAtlasDatabase\.asset

Library/TilemapEditorUserSettings\.asset

Resources/

0\.png

1\.png

2\.png

3\.png

4\.png

Assembly-CSharp\.csproj
